/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"),
       url("assets/fonts/Lato-Light.ttf") format("truetype");
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
       url("assets/fonts/Lato-Regular.ttf") format("truetype");
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
       url("assets/fonts/Lato-Bold.ttf") format("truetype");
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
       url("assets/fonts/Lato-Black.ttf") format("truetype");
}
/* Reset style.css */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  background-color: #000000;
  font-family: "Lato", "Verdana", sans-serif;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

/* header and navigation */
header {
  height: 95px;
  padding: 27px 40px 0;
  background-color: #2d303a;
  box-shadow: inset 0px -6px #323746;
}

.hide-heading {
  position: absolute;
  visibility: hidden;
}

.header-grid {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: end;
  height: 30px;
}

.navigation-list {
  display: inline-grid;
  grid-auto-flow: column;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation-list a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s;
}

.navigation-list a:hover {
  text-decoration: none;
  color: #f06c64;
}

.logo * {
  display: inline;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.asterisk-red {
  color: #f06c64;
}

nav {
  justify-self: end;
}

.navigation-dot {
  padding: 0 12px;
  color: #62677c;
}/* header and navigation */

/* slider */
.slider {
  display: grid;
  grid-template-columns: 98px 1fr 98px;
  height: 600px;
  background-color: #f06c64;
  box-shadow: inset 0px -6px #ea676b;
}

.viewport {
  grid-area: 1 / 1 / 1 / 4;
  z-index: 5;
}

.left-area-pointer {
  grid-area: 1 / 1 / 1 / 2;
  z-index: 20;
}

.left-pointer {
  height: 27px;
  width: 16px;
  margin: 281px auto 0;
  background-image: url("assets/chev.png");
  filter: opacity(50%);
  transition: filter 0.2s;
}

.left-area-pointer:hover .left-pointer {
  filter: opacity(100%);
}

.left-area-pointer:hover {
  cursor: pointer;
}

.right-area-pointer {
  grid-area: 1 / 3 / 1 / 4;
  z-index: 20;
}

.right-pointer {
  transform: rotate(180deg);  
  height: 27px;
  width: 16px;
  margin: 281px auto 0;
  background-image: url("assets/chev.png");
  filter: opacity(50%);
  transition: filter 0.2s;
}

.right-area-pointer:hover .right-pointer {
  filter: opacity(100%);
}

.right-area-pointer:hover {
  cursor: pointer;
}/* slider */

/* content in slider */
.vertical-phone {
  position: relative;
  top: 37px;
  left: 112px;
  display: inline-block;
}

.vertical-phone .phone {
  position: absolute;
  z-index: 9;
}

.vertical-phone .shadow {
  position: absolute;
  z-index: 8;
}

.vertical-phone .screen {
  position: absolute;
  top: 65px;
  left: 14px;
  z-index: 10;
  height: 333px;
  width: 188px;
  background-image: url("assets/Layer 6.png");
  background-position: -14px -135px;
}

.horizontal-phone {
  position: relative;
  top: 158px;
  left: 879px;
  transform: rotate(90deg);
  display: inline-block;
}

.horizontal-phone .phone {
  position: absolute;
  z-index: 9;
}

.horizontal-phone .shadow {
  position: absolute;
  top: -26px;
  transform: rotateX(180deg);
}

.horizontal-phone .screen {
  position: absolute;
  top: 138px;
  left: -58px;
  transform: rotate(270deg);
  z-index: 10;
  height: 188px;
  width: 333px;
  background-image: url("assets/Layer 5.png");
  background-position: -125px -119px;
}/* content in slider */

/* section 'Our services' */
.our-services {
  height: 500px;
  padding: 0 40px;
  color: #666d89;
  background-color: #f2f2f2;
  box-shadow: inset 0px -6px #ffffff;
}

.our-services p {
  color: #767e9e;
}

.our-services>h2 {
  
  height: 96px;
  padding: 62px 0 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-transform: capitalize;
}

.our-services>p {
  height: 86px;
  padding: 17px 0 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
}

.service-list {
  display: grid;
  grid-template: repeat(2, 123px) / repeat(3, 300px);
  grid-gap: 0px 10px;
  justify-content: space-between;
  padding: 36px 0 0;
}

.service {
  display: grid;
  grid-template: 27px 130px / 60px 220px;
  grid-gap: 0px 10px;
  justify-content: space-between;
}

.service img {
  grid-area: 1 / 1 / 3 / 2;
  padding: 2px 0 0;
}

.service h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  text-transform: capitalize;
}

.service p {
  height: 68px;
  overflow: hidden;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-align: justify;
}

.service-1{
  grid-area: 1 / 1 / 2 / 2;
}

.service-2{
  grid-area: 2 / 1 / 3 / 2;
}

.service-3{
  grid-area: 1 / 2 / 2 / 3;
}

.service-4{
  grid-area: 2 / 2 / 3 / 3;
}

.service-5{
  grid-area: 1 / 3 / 2 / 4;
}

.service-6{
  grid-area: 2 / 3 / 3 / 4;
}/* section 'Our services' */